{% extends "layout.html" %}


{% block content %}

<h3>Contact OutfitsDaily.com</h3>

<div id="category-readmore" style="margin-top:20px;text-align:left;">
For General Questions, Comments &amp; Inquiries, please <a href="mailto:support@culturehook.com">click here</a> to email us.<br><br>
If this is about your picture, video, or anything else that appears on our site and is owned by you, <a href="mailto:outfitsdailyy@gmail.com?subject=Copyright Issue">EMAIL US HERE</a>.  We will remove it from our search results immediately.
All you have to do is email us with the link (on our site) of the image in question, and we will remove it. Our website is basically an image search engine, and we do not host any of the images that are displayed on our site and we do not intend to display anything with a copyright. Just simply email us and we will remove it from our search results without any hassle.
<br><br>
For Advertising Questions, please <a href="mailto:outfitsdailyy@gmail.com?subject=advertising inquiry">click here</a> to email us.

</div>

{% endblock %}